
html{
    
}
body{
    
}
.content_venvir{
    position: relative;
    overflow-x: hidden;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #d6f7ff;
}
/* -------------------------------------------- */
.content_index{
    position: relative;
    overflow-x: hidden;
    
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #73DDF4 15.65%, #FFFFFF 75.12%);
}
/* .index_btn{
    width: 200px;
    height: 100px;
    background: #000;
} */
.home_ground{
    position: absolute;
    bottom: 0;
    left: auto;
    width: 330px;
    height: 181px;
}
.home_logo{
    width: 260px;
    height: 151px;
    position: absolute;
    top: 100px;
    left: auto;
}
.home_cloud{
    width: 354px;
    height: 191px;
    position: absolute;
    top: 30px;
    left: auto;
}
.home_btn{
    width: 85px;
    height: 96px;

}
.home_btn_poa{
    position: absolute;
    bottom: 200px;
    left: auto;
}
/* ----------------------------------------- */
.main_island_01{
    /* position: relative; */


}
.main_island_02{
    display: none;
}
.main_island_03{
    display: none;
}
/* -------------------------------------- */
.main_cloud{
    position: absolute;
    left: 10px;
    top: 50%;
    z-index: 1;
}
.cloud_1{
    width: 57px;
    height: 59px;
    margin-top: -500px;
    margin-left: 20px;

}
.cloud_2{
    width: 0px;
    height: 0px;
    margin-top: -330px;
    margin-left: 140px;

}
.cloud_3{
    width: 94px;
    height: 64px;
    margin-top: 200px;
    margin-left: 20px;

}
.cloud_4{
    width: 68px;
    height: 73px;
    margin-top: 230px;
    margin-left: 90px;

}
/* ----------------------------------------- */
.icon_area{
    position: absolute;
    right: 20px;
    top: 40px;
    display: flex;
    flex-direction: column-reverse;
    z-index: 99;
}
.question_btn{
    width: 46px;
    height: 46px;
    margin-top: 10px;
}

.back_btn{
    width: 46px;
    height: 46px;
}
.pos_box_board{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 20;

}
.pos_box_treasure{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;

}

.board_rwd{
    width: 64px;
    height: 66px;
}
.board_1{
    margin-top: 88px;
}
.board_2{
    margin-top: -150px;
    margin-left: -180px;
}
.board_3{
    margin-top: -300px;
    margin-left: 100px;
}
.board4_box{
    margin-left: -38px;
}
.board_4{
    margin-top: -670px;
}

.treasure_1{
    width: 57px;
    height: 55px;
    margin-top: 107px;
    margin-left: 0px;
}
.treasure_2{
    width: 58px;
    height: 49px;
    margin-top: -130px;
    margin-left: -173px;
}
.treasure_3{
    width: 58px;
    height: 53px;
    margin-top: -287px;
    margin-left: 112px;
}
.treasure4_box{
    margin-left: -36px;
}
.treasure_4{
    width: 69px;
    height: 66px;
    margin-top: -655px;
}

.opacity{
    visibility: hidden;
}
.question_flexbox{
    margin-top: -467px;
}
.question_box{
    width: 69px;
    height: 83px;
    margin-left: -45px;
}
.lottery_flexbox{
    margin-top: -460px;
}
.lottery_box{
    width: 68px;
    height: 76px;
    margin-left: -42px;
}


/* .modal_outer_box{

    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0.3rem;
    outline: 0;
} */
.modal_cc{

    display: flex;
    justify-content: center;
    align-items: center;

}
.player_intro_flex{
    position: relative;
    width: 100%;
    height: 100%;
    outline: 0;
    pointer-events: auto;
}
.player_intro{

    width: 100%;
    height: 100%;

}
.player_close_btn{
    position: absolute;
    top: 75%;
    left: 37%;
    width: 30%;
    height: 25%;
}
.SVG_test{
    width: 90%;
    height: 100%;
}
.secret_flex{
    position: relative;

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 0;
    pointer-events: auto;
}
.secret_modal{
    left: 5px;
    width: 80%;
    height: 80%;

}
.secret_send_modal{
    position: absolute;

    bottom: 40px;
    width: 25%;

}
.secret_modal_delete{
    position: absolute;
    width: 7%;
    height: 7%;
    right: 13%;
    top: 9px;
}
.secret_from{
    position: absolute;
    left: auto;
    top: auto;

}

.secret_from_input{
  
}
.testInput{
    width: 120px;
    height: 45px;
}
.wrong_text{
    color: crimson;
    margin-left: 30px;
    font-weight: bolder;
}
.border_color{
    border-color: red;
}
/* --------------------------------------------- */
@media screen and (min-width: 321px) {
    .home_ground{
        position: absolute;
        bottom: 0;
        left: auto;
        width: 390px;
        height: 213px;
    }
    .home_logo{
        width: 300px;
        height: 175px;
        position: absolute;
        top: 100px;
        left: auto;
    }
    .home_cloud{
        width: 402px;
        height: 217px;
        position: absolute;
        top: 30px;
        left: auto;
    }
    .home_btn{
        width: 113px;
        height: 126px;

    }
    /* ------------------------------ */
    .main_island_01{
        display: none;
    }
    .main_island_02{
        display: block;
    }
    .main_island_03{
        display: none;
    }
    .main_cloud{
        position: absolute;
        left: 10px;
        top: 50%;
        z-index: 1;
    }
    .cloud_1{
        width: 57px;
        height: 59px;
        margin-top: -500px;
        margin-left: 20px;
    
    }
    .cloud_2{
        width: 0px;
        height: 0px;
        margin-top: -330px;
        margin-left: 190px;
    
    }
    .cloud_3{
        width: 94px;
        height: 64px;
        margin-top: 210px;
        margin-left: 20px;
    
    }
    .cloud_4{
        width: 68px;
        height: 73px;
        margin-top: 255px;
        margin-left: 124px;
    
    }
    .icon_area{
        position: absolute;
        right: 20px;
        top: 50px;
        display: flex;
        flex-direction: column-reverse;
        z-index: 99;
    }
    .question_btn{
        width: 52px;
        height: 52px;
        margin-top: 10px;
    }
    
    .back_btn{
        width: 52px;
        height: 52px;
    }
    .board_rwd{
        width: 90px;
        height: 92px;
    }
    .board_1{
        margin-top: 83px;
        margin-left: -8px;
    }
    .board_2{
        margin-top: -190px;
        margin-left: -220px;
    }
    .board_3{
        margin-top: -360px;
        margin-left: 100px;
    }
    .board4_box{
        margin-left: -50px;
    }
    .board_4{
        margin-top: -760px;
    }

    .treasure_1{
        width: 73px;
        height: 71px;
        margin-top: 117px;
        margin-left: -7px;
    }
    .treasure_2{
        width: 74px;
        height: 63px;
        margin-top: -146px;
        margin-left: -200px;
    }
    .treasure_3{
        width: 74px;
        height: 69px;
        margin-top: -330px;
        margin-left: 115px;
    }
    .treasure4_box{
        margin-left: -45px;
    }
    .treasure_4{
        width: 87px;
        height: 84px;
        margin-top: -743px;
    }
    .question_flexbox{
        margin-top: -533px;
    }
    .question_box{
        width: 81px;
        height: 97px;
        margin-left: -50px;
    }
    .lottery_flexbox{
        margin-top: -525px;
    }
    .lottery_box{
        width: 80px;
        height: 90px;
        margin-left: -49px;
    }
    /* .player_intro_flex{
        position: relative;
        width: 340px;
        height: 583px;
    }
    .player_intro{
    
        width: 340px;
        height: 583px;
    } */
    .player_close_btn{
        position: absolute;
        top: 75%;
        left: 37%;
        width: 30%;
        height: 25%;
    }
}
@media screen and (min-width: 376px) {
    .home_ground{
        position: absolute;
        bottom: 0;
        left: auto;
        width: 432px;
        height: 235px;
    }
    .home_logo{
        width: 324px;
        height: 189px;
        position: absolute;
        top: 100px;
        left: auto;
    }
    .home_cloud{
        width: 442px;
        height: 239px;
        position: absolute;
        top: 30px;
        left: auto;
    }
    .home_btn{
        width: 125px;
        height: 140px;

    }
    /* ---------------------------------- */
    .main_island_01{
        display: none;
    }
    .main_island_02{
        display: none;
    }
    .main_island_03{
        display: block;
    }
    .main_cloud{
        position: absolute;
        left: 10px;
        top: 50%;
        z-index: 1;
    }
    .cloud_1{
        width: 57px;
        height: 59px;
        margin-top: -600px;
        margin-left: 20px;
    
    }
    .cloud_2{
        width: 0px;
        height: 0px;
        margin-top: -420px;
        margin-left: 330px;
    
    }
    .cloud_3{
        width: 94px;
        height: 64px;
        margin-top: 220px;
        margin-left: 20px;
    
    }
    .cloud_4{
        width: 68px;
        height: 73px;
        margin-top: 270px;
        margin-left: 170px;
    
    }
    .icon_area{
        position: absolute;
        right: 20px;
        top: 58px;
        display: flex;
        flex-direction: column-reverse;
        z-index: 99;
    }
    .question_btn{
        width: 60px;
        height: 60px;
        margin-top: 15px;
    }
    
    .back_btn{
        width: 60px;
        height: 60px;
    }
    .board_rwd{
        width: 102px;
        height: 104px;
    }
    .board_1{
        margin-top: 97px;
        margin-left: -8px;
    }
    .board_2{
        margin-top: -230px;
        margin-left: -255px;
    }
    .board_3{
        margin-top: -410px;
        margin-left: 120px;
    }
    .board4_box{
        margin-left: -60px;
    }
    .board_4{
        margin-top: -870px;
    }

    .treasure_1{
        width: 85px;
        height: 81px;
        margin-top: 130px;
        margin-left: -7px;
    }
    .treasure_2{
        width: 84px;
        height: 70px;
        margin-top: -163px;
        margin-left: -230px;
    }
    .treasure_3{
        width: 84px;
        height: 77px;
        margin-top: -370px;
        margin-left: 130px;
    }
    .treasure4_box{
        margin-left: -50px;
    }
    .treasure_4{
        width: 99px;
        height: 94px;
        margin-top: -843px;
    }
    .question_flexbox{
        margin-top: -613px;
        
    }
    .question_box{
        width: 97px;
        height: 115px;
        margin-left: -60px;
        
    }
    .lottery_flexbox{
        margin-top: -600px;
    }
    .lottery_box{
        width: 96px;
        height: 108px;
        margin-left: -59px;
        
    }
    /* .player_intro_flex{
        position: relative;
        width: 368px;
        height: 631px;
    }
    .player_intro{
    
        width: 368px;
        height: 631px;
    } */
    .player_close_btn{
        position: absolute;
        top: 75%;
        left: 37%;
        width: 30%;
        height: 25%; 
    }
}