
html{

}
body{

}
.content_venvir{
    position: relative;
    
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* ----------------------------------------- */
.main_island_01{
    /* position: relative; */
    z-index: 1;

}
.main_island_02{
    display: none;
}
.main_island_03{
    display: none;
}
.pos_box_board{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 20;

}
.pos_box_treasure{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;

}

.board_1{
    margin-top: 88px;
}
.board_2{
    margin-top: -150px;
    margin-left: -180px;
}
.board_3{
    margin-top: -300px;
    margin-left: 100px;
}
.board4_box{
    margin-left: -38px;
}
.board_4{
    margin-top: -670px;
}
.treasure_1{
    margin-top: 117px;
    margin-left: 5px;
}
.treasure_2{
    margin-top: -130px;
    margin-left: -167px;
}
.treasure_3{
    margin-top: -287px;
    margin-left: 109px;
}
.treasure4_box{
    margin-left: -36px;
}
.treasure_4{
    margin-top: -645px;
}

.opacity{
    opacity: 0;
}



.testInput{
    width: 120px;
}
.wrong_text{
    color: crimson;
}
.border_color{
    border-color: red;
}

/* --------------------------------------------- */
@media screen and (min-width: 321px) {

    .main_island_01{
        display: none;
    }
    .main_island_02{
        display: block;
    }
}
@media screen and (min-width: 376px) {
    .main_island_01{
        display: none;
    }
    .main_island_02{
        display: none;
    }
    .main_island_03{
        display: block;
    }
}